.outsideWrapper {
  awidth: 800px;
  height: 530px;
  margin: auto;
  aborder: 1px solid blue;
  margin-top: 5px;
}
.controls {
  padding: 5px;
}

.insideWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.coveredImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}